@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <input type="text" asp-for="fName"/>
        <input type="text" asp-for="lName"/>
        <input type="text" asp-for="adress"/>
        <input type="text" asp-for="mail"/>

        <input type="submit" />
    </form>
</div>
