@using DAL.Model;
@model Product


<div class="col-4">
    <div class="card" style="width: 18rem; ">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Brand.BrandName</p>
            <a href="Product?id=@Model.Id" class="btn btn-success">View</a>
        </div>
    </div>
</div>