@using DAL.Model
@model List<Product>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h3 id="offcanvasRightLabel">Shopping Cart</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
        </button>
    </div>
    <div class="offcanvas-body">
       @foreach (Product product in Model)
        {
            <img src="@product.ImgPath"/>
        }

        Total: @Model.Sum(p => p.Price)
    </div>
</div>